<!DOCTYPE html>
<html>
<head>
  <title><%= @artist.name %></title>
</head>
<body>
<h1><%= @artist.name %></h1>
<ol>
	<% @artist.songs.each do |song| %>
   <li><a href="songs/<%= song.url%>.html" title=""><%= song.name %></a> - <a href="genres/<%= song.genre.url%>.html" title=""><%= song.genre.name %></a></li>
  <% end %>
</ol>
</body>
</html>