<!DOCTYPE html>
<html>
<head>
  <title><%= @genre.name %></title>
</head>
<body>
<h1><%= @genre.name %> - <%= @genre.songs.count %> Song(s), <%= @genre.artists.count %> Artist(s)</h1>
<ol>
	<% @genre.songs.each do |song| %>
   <li><a href="../songs/<%= song.url%>.html" title=""><%= song.name %></a> - <a href="../genres/<%= song.genre.url%>.html" title=""><%= song.genre.name %></a></li>
  <% end %>
</ol>
</body>
</html>