<!DOCTYPE html>
<html>
<head>
  <title><%= @song.name %></title>
</head>
<body>
<h1><%= @song.name %></h1>
<ul>
   <li>Artist: <a href="artists/<%= @song.artist.url%>.html" title=""><%= @song.artist.name %></a></li>
  <li>Genre: <a href="genres/<%= @song.genre.url%>.html" title=""><%= @song.genre.name %></a></li>
</ul>
</body>
</html>