<!DOCTYPE html>
<html>
<head>
  <title><%= @song.name %></title>
</head>
<body>
<p><a href="../index.html" title=""><< All Songs</a></p>
<h1><%= @song.name %></h1>
<ul>
   <li>Artist: <a href="../artists/<%= @song.artist.url %>.html" title=""><%= @song.artist.name %></a></li>
  <li>Genre: <a href="../genres/<%= @song.genre.url %>.html" title=""><%= @song.genre.name %></a></li>
</ul>
</body>
</html>